<html ng-app="notesApp">
<head>
  <meta charset='utf-8' />
  <title>NOTES NOTES NOTES</title>
</head>
<body>
  <div ng-controller="NotesController">
    <div>
      <h3>Test:</h3>
      <p>{{test}}</p>
    </div>
    <div>
      <p>Search Previous Notes: </p>
      <input class='search' ng-model='searchTerm'>
      <button type="submit" ng-click="search()" >Search</button>
    </div>

    <div>
      <p>Note:</p>
      <div>
        <textarea class='notetaking' ng-model="noteMessage"></textarea>
      </div>
      <button ng-click="submitNote()" >Save</button>
    </div>

    <div>
      <p> </p>
      <p> </p>
      <button ng-click="getNotes()">Get Notes</button>
      <p>Notes that match your search term, <strong>{{laggingSearchTerm}}</strong></p>
      <p>{{allNotes}}</p>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>